@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Popup {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.PopupContainer {
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 20px;
}

.textPopup {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.contactLink {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;

  &:hover {
    color: #555;
    transform: scale(1.05);
  }
}

.popupButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #388e3c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}

.popupButton:active {
  background-color: #004494;
  transform: translateY(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.Popup.blur {
  backdrop-filter: blur(5px); // Примените размытие фона
}